@model EssayBashBoard.Models.RegisterViewModel
@{
    ViewBag.Title = "注册";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <table height="200" width="200" align="center" border="1"style="border-width:thick;border-color:blue;">
        @Html.AntiForgeryToken()
        <tr style="text-align:center;height:10%;">
            <td>
                <h4>@ViewBag.Title</h4>
            </td>
        </tr>
        <tr style="border-width:thick;border-color:blue;height:20%;vertical-align:top;">
            <td class="form-group">
                @Html.LabelFor(m => m.UserId, new { @class = "col-md-2 control-label" }):
                <br />
                    @Html.TextBoxFor(m => m.UserId, new { @class = "form-control" })
            </td>
        </tr>
        <tr style="border-width:thick;border-color:blue;height:30%;vertical-align:top;">
            <td class="form-group">
                @Html.LabelFor(m => m.Pwd, new { @class = "col-md-2 control-label" }):
                <br />
                    @Html.PasswordFor(m => m.Pwd, new { @class = "form-control" })<br />
                <h5 style="color:red"> @Html.ValidationMessageFor(m => m.Pwd)</h5>
            </td>
        </tr>
        <tr style="border-width:thick;border-color:blue;height:30%;vertical-align:top;">
            <td class="form-group">
                @Html.LabelFor(m => m.ConfirmPwd, new { @class = "col-md-2 control-label" }):
                <br />
                    @Html.PasswordFor(m => m.ConfirmPwd, new { @class = "form-control" })<br />
                <h5 style="color:red">@Html.ValidationMessageFor(m => m.ConfirmPwd)</h5> 
            </td>
        </tr>
        <tr>
            <td class="form-group" align="center" style="height:10%">
                    <input type="submit" class="btn btn-default" value="注册" />
                     &nbsp;&nbsp;&nbsp;
                    <input type="reset"  class="btn btn-default" value="取消" />
            </td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
